

#nav {
  background: red;
  width: 100%;
}

#nav ul {
  list-style-type: none;
  float: right;
  font-family: 'Montserrat', sans-serif;
}

#nav li{
  display: inline;
  padding-right: 20px;
}

#nav a{ 
  color: black;
  text-decoration: none;
}

.button-locate {
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
}

#map { 
  height: 50%; 
  width: 100%;
}

.venue-info {
  /*font-weight: bold;*/
}

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#venue-container {
  display: flex;
  /*display: block;*/
  /*flex-direction: row;*/
  flex-flow: row wrap;
  /*justify-content: center;*/
  height: 500px;
}

.venue {
  float: left;
  background: #38CCC4;
  padding-bottom: 10px;
  margin: 20px;
  width: 30%;
  height: 300px;
}

.venue-card-info {
  margin: 8%;
  color: white;
}

.add-venue-button {
  text-align: center;
  text-decoration: none;
  height: 36px;
  color: white;
  padding: .8em 3em;
  background: #F77775;
  letter-spacing: 0.2em;
  font-size: 14px;
}